[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Actions=Icone;extractMp3;extractWav;embedMp3;embedPcm;
X-KDE-Submenu=Converter/Extrair Áudio
Icon=new-audio-alarm
X-KDE-Priority=TopLevel

[Desktop Action extractMp3]
Name=Extrair apenas Áudio (MP3)
Icon=new-audio-alarm
Exec=~/.local/bin/converter-audio extract-mp3 %F

[Desktop Action extractWav]
Name=Extrair apenas Áudio (WAV Lossless)
Icon=audio-x-wav
Exec=~/.local/bin/converter-audio extract-wav %F

[Desktop Action embedMp3]
Name=Converter Áudio do Vídeo para MP3
Icon=folder-videos-symbolic
Exec=~/.local/bin/converter-audio embed-mp3 %F

[Desktop Action embedPcm]
Name=Converter Áudio do Vídeo para PCM
Icon=video-mp4
Exec=~/.local/bin/converter-audio embed-pcm %F
